body {
    margin: 50px auto;
    width: 85%;
    background-color: #202020;
}
a {
    text-decoration: none;
    color: dimgray;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: gainsboro;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: lightgray;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}