body {
    margin: 50px auto;
    width: 85%;
    background-color: #202020;
}
a {
    text-decoration: none;
    color: gray;
}
a:hover {
    text-decoration: underline;
    color: gainsboro;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: white;
}
h2 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: gainsboro;
}
h3 {
    font-size: 1.75em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: gainsboro;
}
h4 {
    font-size: 1.75em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: gainsboro;
}
h5 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: gainsboro;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: lightgray;
}
li {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: lightgray;
}
pre {
    color: #00cfc2;
}
code {
    font-size: 1.3em;
    color: #80efe2;
}